@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Poppins, sans-serif;
}

body {
  background-color: #7D4F59;
  height: 100vh;
  padding: 27px 35px 27px 35px;
}

input:focus {
  outline: none;
}

#app {
  height: 100%;
}